.right-card{
    border-radius: 2px#CC0033;
}
 .btn{
    background-color: #CC0033;
    border-color: #CC0033;
}
.form-control{
    border-color: #CC0033;
}
.btn1 {
 background-color: #003366; color: white; }
 img{
    object-fit: cover;
 }
 ::placeholder{
    font-style: italic;
 }
 p{
    font-style: italic;
 }