/*.nav-link {
    color:#003366;
    text-decoration: underline;
    text-underline-offset: 10px;
   
}*/
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;                  
    align-items: center;
    padding: 0;
    margin: 0;
     
}
.nav-item {
                    
    text-align: center; 
}
.nav-link{
    color:#CC0033;
    font-weight:bold;
   
}
.nav-item .nav-link.active {
    color:#003366;
    font-weight: bold;

    border-radius: 5px;
    text-decoration: underline;
    text-underline-offset: 10px;
}
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center ;
    text-align: right ;
    width: 100%;
  }
  .nav-item {
    
    width: 100%;
    text-align: right  ;
  }
}
  