/*.nav-link {
    color:#003366;
    text-decoration: underline;
    text-underline-offset: 10px;
   
}*/
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;                  
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-item {
    flex: 1;                       
    text-align: center; 
}
.nav-link{
    color:#CC0033;
    font-weight:bold;
}
.nav-item .nav-link.active {
    color:#003366;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: underline;
    text-underline-offset: 10px;
}